html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  background-color: #000;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6{
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("images/TV1.jpg");
  min-height: 400px;
}

.bgimg-2 {
  background-image: url("images/brew1.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("images/fly.jpg");
  min-height: 400px;
}
.bgimg-4 {
  background-image: url("images/Balls-tent.jpg");
  min-height: 400px;
}
/* .bgimg-5 {
  background-image: url("https://static.wixstatic.com/media/187a23_5869aa8973ac4d9dbaf2cfeec0cd1177~mv2_d_4264_1840_s_2.jpg/v1/crop/x_61,y_270,w_4203,h_1357/fill/w_978,h_318,al_c,q_80,usm_0.66_1.00_0.01/187a23_5869aa8973ac4d9dbaf2cfeec0cd1177~mv2_d_4264_1840_s_2.webp");
  min-height: 400px;
} */
.bgimg-6 {
  background-image: url("images/teviot-lights1.jpg");
  min-height: 400px;
}
.caption1, .caption3{
  /* padding-right: 50px; */
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #ddddddbf;
}
.caption2, .caption4,.caption5{
  padding-left: 50px;
  padding-top: 50px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  color: #ddddddbf;
}
.thumbnail{
  padding: 0;
  border: 0;
}

#more {
  display: none;
  color: #fff;
}
#myBtn {
  font-weight: lighter;
  border: none;
  color: #ddddddbf;
  background-color: transparent;
  font-size: 15px;
  font-family: helvetica;
  text-transform: uppercase;
}

.control-label {
  font-size: 15px
}
.checkbox {
  font-size: 15px
}
.form-control{
  font-size: 15px
}

#contact{
  display: block;
  background-color: darkgrey;
  padding: 20px 20px;
  margin-bottom: 40px;
  border-radius: 20px;
}

h3{
  font-family: helvetica;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size:3vw;
  background: transparent;
  padding: 30px 10px;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 1;
}


.text-area {
 height: 50px;
 overflow: hidden;
 position: relative;
 background: transparent;
}
.text-area h3 {
 position: relative;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(-100%);
 -webkit-transform:translateX(-100%);
 transform:translateX(-100%);
 /* Apply animation to this element */
 -moz-animation: scroll-right 15s linear infinite;
 -webkit-animation: scroll-right 15s linear infinite;
 animation: scroll-right 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-right {
 0%   {
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%);
 }
 100% {
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%);
 }
}


.logo{
  width: 70%;
  border-radius: 20px;
  padding-top: 150px
}
.text-area{
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 50%;
  top: 80px;
  left: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-fluid{
  background-image: url(images/cards.jpg);
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  opacity: 0.65;
  height: 1000px;
  background-attachment: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0%, 100% 0, 100% 90%, 0% 100%);
}

.navflex{
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px 0px 0px 20px;
}
.navbar-fixed-top.scrolled {
  background-color: #000 !important;
  transition: background-color 200ms linear;
  height: 70px;
}

header {
  position: relative;
  display: flex;
}

header ul{
  background: transparent;
  display: inline-block;
  padding: 10px 25px;
  display: flex;
  float: right;
}
header ul li{
  list-style: none;
  text-decoration: none;
  padding: 10px 20px;

}
header ul li a{
  list-style: none;
  text-decoration: none;
  font-weight: lighter;
  position: relative;
  color: #fff;
  font-size: 20px;
  font-family: helvetica;
  text-transform: uppercase;
}
header ul li a::before{
  content: '';
  width: 0;
  transition: .6s;
  left: 0;
  top: -5px;
  position: absolute;
  background: #fff;
  height: 3px;
}
header ul li:hover a::before{
  text-decoration: none;
  color: #fff;
  transform: translateX(100%);
  width: 50%;
}

@media screen and (max-width: 700px) {
  html{
    font-size: 55%;
  }
  ul{
    float: none;
    height: auto;
    flex-direction: column;
    text-align: center;
  }
  ul li{
    float: none;
    margin-left: 0;
  }
  ul li a{
    padding: 10px 0;
    text-align: center;
  }
  /* ul li:not(:last-child) a{

  } */
  .custom-menu {
    overflow: hidden;
    background-color: black;
    position: absolute;
    top: 25px;
    right: 50px;
    cursor: pointer;
  }
  .custom-menu a.icon {
    background: transparent;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .custom-menu span{
    position: absolute;
    top: 0;
    left: 0;
  }
  .custom-menu i{
    font-size: 30px;
    color: #fff;
  }
  .custom-menu #myLinks {
    display: none;
    height: auto;
  }
  .active {
  background-color: #4CAF50;
  color: white;
}
}

h2 {
  font-size: 50px;
  color: #000;
}

/* .border1{
  background-color: transparent;
  color: #ddddddbf;
  border: 1px solid #ddddddbf !important;
  font-size:50px;
  font-weight: lighter;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 50px;
  padding-bottom: 2px;
  margin-right: 20px;
  margin-left: 600px;
  padding-bottom: 2px;
  display: flex;
  flex-direction: row-reverse;
} */
.border2{
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff !important;
  font-size:50px;
  font-weight: lighter;
  font-weight: 100;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 600px;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
}
.border1{
  background-color: transparent;
  color: #ddddddbf;
  border: 1px solid #ddddddbf !important;
  font-size:50px;
  font-weight: 100;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 50px;
  padding-bottom: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.row {
  margin-top: 10px;
}
.snapwidget-widget{
  margin-top: 10px;
}

.cust-div{
  width: 100%;
  position: relative;
}
#skew1{
  background: #000;
  clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 95%);
}
#skew2{
  background: #000;
  clip-path: polygon(0 0%, 100% 0, 100% 90%, 0% 100%);
}
#skew3{
  background: #000;
  clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 90%);
}
#skew4{
  background: #000;
  clip-path: polygon(0 0%, 100% 0, 100% 85%, 0% 100%);
}
#skew5{
  background: #000;
  clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 80%);
}
#skew6{
  background-color: #000;
  /* clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 80%); */
}

.cus-div::after{
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  bottom: 0;
  content: '';
}
#skew1::after,
#skew2::after,
#skew4::after{
  transform-origin: left bottom;
  transform: skewY(3deg);
}
#skew3::after,
#skew5::after{
  transform-origin: right bottom;
  transform: skewY(-3deg);
}
.container2 h2 h5{
  color: #000;
}
.container4 h2, h5{
  color: #000;
}
.container6 h2{
  color: #000;
}
.container1 h2, h5{
  color: #fff;
}
.container3 h2, h5{
  color: #fff;
}
.container5 h2, h5{
  color: #fff;
}

.content{
  text-align: center;
  padding: 10px 50px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  height: auto;
}
.content-instagram{
  font-weight: bold;
  text-align: center;
  padding-bottom: 100px;
  padding-top: 10px;
  overflow: hidden;
  display: block;
  height: auto;
}

.wrapper2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}
.wrapper3{
  padding-top: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.wrapper4 ul{
  margin: 0px;
  background: #000;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}

ul li {
    padding-bottom: 10px;
    list-style-type: none;
}

ul li a i {
    background: #205D7A;
    color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    font-size: 75px;
    text-align: center;
    margin-right: 40px;
    margin-left: 40px;
    padding-top: 6%;
    transition: all 0.2s ease-in-out;
}

.fa-facebook {
  background:#3b5998;
  box-shadow: 0px 3px 10px rgba(0,0,0,.55);
}
.fa-instagram{
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.55);
}

.fa-paper-plane {
  background:#050;
  box-shadow: 0px 3px 10px rgba(0,0,0,.55);
}
.fa-bars{
  color: #fff;
  font-size: 30px;
}
ul li a i:hover {
    opacity: .7;
}
#plane{
  font-size: 65px;
  padding-right: 9px;
  padding-top: 16px;
}

footer{
  background: #000;
  padding: 30px 30px;
}
footer p{
  color: #fff;
  text-align: center;
}
